{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'css/bootstrap.min.css' %}">
    <link rel="stylesheet" href="{% static 'css/own.css' %}">
    <link href="{% static 'global/plugins.bundle.css' %}" rel="stylesheet" type="text/css"/>
    <link href="{% static 'custom/prismjs/prismjs.bundle.css' %}" rel="stylesheet" type="text/css"/>
    <link href="{% static 'css/style.bundle.css' %}" rel="stylesheet" type="text/css"/>
    <script src="{% static 'global/plugins.bundle.js' %}"></script>
    <script src="{% static 'js/bootstrap.js' %}"></script>
    <title>{{ title }} | {{ section }}</title>

    


    <style>
        .bd-placeholder-img {
          font-size: 1.125rem;
          text-anchor: middle;
          -webkit-user-select: none;
          -moz-user-select: none;
          user-select: none;
        }
  
        @media (min-width: 768px) {
          .bd-placeholder-img-lg {
            font-size: 3.5rem;
          }
        }
      </style>

</head>

<body>
    <div class="row">
        {% include 'admin/theme/includes/navabar.html' %}
    </div>
    <div class="container">
        {% include 'admin/theme/includes/message.html' %}
        {% block content %}

        {% endblock content %}
    </div>
</body>


    
