<style>
    .line-clamp {
        overflow: hidden;
        display: -webkit-box;
        -webkit-line-clamp: 1;
        -webkit-box-orient: vertical;
    }

    .line-clamp2 {
        overflow: hidden;
        display: -webkit-box;
        -webkit-line-clamp: 2;
        -webkit-box-orient: vertical;
    }
</style>


<div class="row">
    {% include 'header.html' %}
</div>
<div class="row">
    <div class="col-2">
        {% include 'sidebar.html' %}
    </div>
    <div class="col-10">
        <div class="row">
        <!-- Contenido dinámico inicio -->
            <div class="col-6">
                <form method="POST">
                    {% csrf_token %}
                    {{ Tarea_Form.as_p }}
                    <button type="submit" class="btn btn-primary">Crear</button>
                </form>
            </div>
        <!-- Contenido dinámico fin -->
        </div>
    </div>    
