{% extends 'website/theme/base_website.html' %}
{% load static %}

{% block content %}
    <div class="card mt-3">
        <div class="card-header">
            <h2>{{ investigacion_nombre }} | Tareas</h2>
        </div>
    </div>
    <div class="row">
        {% block tarjetas %}
            {% for Tarea in Tareas %}
                {% if Tarea.investigacion|stringformat:"s" == investigacion_nombre %}
                <div class="col-4 mt-4">
                    <div class="card text-center">
                        <div class="card-header">
                          <h3 class="line-clamp">{{ Tarea.nombre }}</h3>
                        </div>
                        <div class="card-body" style="min-height: 10rem">
                          <h5 class="card-title">{{ Tarea.horas_necesarias }} Horas</h5>
                          <p class="card-text">{{ Tarea.descripcion }}</p>
                          <a href="{% url 'tarea_contenido' Tarea.nombre user.username %}" class="btn btn-primary">Entrar</a>
                          <a href="{% url 'editar_tarea' Tarea.id %}" class="btn btn-success">Editar</a>
                        </div>
                        <div class="card-footer text-muted">
                            <div class="col-6 ps-0 pe-0"><span class="fs-6">{{ Tarea.fecha_comienzo }}</span></div>
                            <div class="col-6 ps-0 pe-0"><span class="fs-6">{{ Tarea.fecha_culmincion }}</span></div>
                        </div>
                    </div>
                </div>
                {% endif %}
            {% endfor %}
        {% endblock tarjetas %}
    </div>
{% endblock content %}
