{% extends 'website/theme/base_website.html' %}
{% load static %}


{% block content %}
    <div class="row">
        {% for Proyecto in Proyectos %}
            <div class="col-3 mt-4 ms-2">
                <div class="card text-center">
                    <div class="card-header">
                      <h3 class="line-clamp">{{ Proyecto.nombre }}</h3>
                    </div>
                    <div class="card-body">
                      <h5 class="card-title">{{ Proyecto.completado }}%</h5>
                      <p class="card-text" style="min-height: 3rem">{{ Proyecto.descripcion }}</p>
                      <a href="{% url 'tarea_view' Proyecto.nombre %}" class="btn btn-primary">Entrar</a>
                      <a href="{% url 'editar_investigacion' Proyecto.id %}" class="btn btn-success">Editar</a>
                    </div>
                    <div class="card-footer text-muted">
                        <div class="col-6 ps-0 pe-0"><span class="fs-6">{{ Proyecto.fecha_comienzo }}</span></div>
                        <div class="col-6 ps-0 pe-0"><span class="fs-6">{{ Proyecto.fecha_culmincion }}</span></div>
                    </div>
                </div>
            </div>
        {% endfor %}
    </div>
{% endblock content %}