{% extends 'website/theme/base_website.html' %}
{% load static %}

{% block content %}

    <div class="card mt-3">
        <div class="card-header">
            <div class="row">
                <h2 class="col-11">{{ tarea_actual.nombre }} | Datos y parte de horas</h2>
                <a href="{% url 'tarea_view' tarea_actual.investigacion %}" class="col-1 ps-4 fs-4">Volver</a>
            </div>
        </div>
    </div>
    <div class="container">
        <div class="row border border-4">
            <div class="col-4 border-end border-4 p-4">
                <h5 class="text-center fw-bolder">Tiempo Estimado:</h5>
                <p class="fs-4 text-center fw-light">{{ tarea_actual.horas_necesarias }} horas</p>
            </div>
            <div class="col-4 border-end border-4 p-4">
                <h5 class="text-center fw-bolder">Investigación:</h5>
                <p class="fs-4 text-center fw-light">{{ tarea_actual.investigacion }}</p>
            </div>   
            <div class="col-2 border-end border-4 p-4">
                <h5 class="text-center fw-bolder">Fecha de Inicio:</h5>
                <p class="fs-6 text-center fw-light">{{ tarea_actual.fecha_comienzo }}</p>
            </div>   
            <div class="col-2 border-4 p-4">
                <h5 class="text-center fw-bolder">Fechas Final:</h5>
                <p class="fs-6 text-center fw-light">{{ tarea_actual.fecha_culminacion }}</p>
            </div>     
        </div>
        <div class="row border border-4">
            <div class="col-8 border-end border-4 p-4">
                <h5 class="fw-bolder">Descripción:</h5>
                <p class="fs-6 fw-light">{{ tarea_actual.descripcion }}</p>
            </div>
            <div class="col-4 border-4 p-4">
                <h5 class="fw-bolder">Participantes:</h5>
                {% for trabajador in participantes %}
                    <p class="fs-6 fw-light">{{ trabajador.nombre }} {{ trabajador.apellidos }}</p>
                {% endfor %}
            </div>
        </div>
        <div class="row border-start border-end border-bottom border-4 ps-1 pe-1">
            <div class="col-2 pt-2 pb-2"><h6>Fecha</h6></div>
            <div class="col-2 pt-2 pb-2"><h6>Trabajador</h6></div>
            <div class="col-5 pt-2 pb-2"><h6>Descripción</h6></div>
            <div class="col-1 pt-2 pb-2"><h6>Horas</h6></div>
            <div class="col-1 pt-2 pb-2"></div>
            <div class="col-1 pt-2 pb-2"></div>
        </div>
        {% for parte in parte_de_horas %}
        {% if edicion == True and parte.id == id_parte %}
        <form method="POST" class="row ps-1 pe-1 border-start border-end border-4 pt-3 pb-3 mt-3 bg-secondary" name="parte" id="parte">
            {% csrf_token %}
            <div class="col-2">{{ parte_horas_form.fecha }}</div>
            <div class="col-2">{{ parte_horas_form.trabajador }}</div>
            <div class="col-5">{{ parte_horas_form.descripcion }}</div>
            <div class="col-1">{{ parte_horas_form.horas_dedicadas }}</div>           
            <div class="col-1"><button type="submit" class="btn btn-primary">Guardar</button></div>
            <div class="col-1"><a href="{% url 'eliminar_parte' parte.id tarea_actual.nombre %}" class="btn btn-danger">Eliminar</a></div>    
        </form>
        {% else %}
        <div class="row ps-1 pe-1 pt-2 border-start border-end border-4">
            <div class="col-2 pt-2 pb-2">{{ parte.fecha }}</div>
            <div class="col-2 pt-2 pb-2">{{ parte.trabajador }}</div>
            <div class="col-5 pt-2 pb-2">{{ parte.descripcion }}</div>
            <div class="col-1 pt-2 pb-2">{{ parte.horas_dedicadas }} horas</div>
            <div class="col-1 pt-2 pb-2">{% if parte.trabajador.usuario == user %}<a href="{% url 'editar_parte' tarea_actual.nombre parte.id %}" class="btn btn-success">Editar</a>{% endif %}</div>
            <div class="col-1 pt-2 pb-2">{% if parte.trabajador.usuario == user %}<a href="{% url 'eliminar_parte' parte.id tarea_actual.nombre %}" class="btn btn-danger">Eliminar</a>{% endif %}</div>
        </div>
        {% endif %}
        {% endfor %}
        <div class="row border-start border-end border-bottom border-4 ps-1 pe-1 pt-3">
        {% for part in participantes %}
            {% if edicion == False and user == part.usuario %}
            <form method="POST" class="row"  style="height: 50px;" name="parte" id="parte">
                {% csrf_token %}
                <div class="col-2 ps-3" style="height: 50px;">{{ parte_horas_form.fecha }}</div>
                <div class="col-2" style="height: 50px;"><select name="trabajador" id="trabajador" class="form-control"><option value="">{{ trab }}</option></select></div>
                <div class="col-5" style="height: 50px;">{{ parte_horas_form.descripcion }}</div>
                <div class="col-1 me-2" style="height: 50px;">{{ parte_horas_form.horas_dedicadas }}</div>
                <div class="col-1 ps-4" style="height: 50px;"><button type="submit" class="btn btn-primary">Crear</button></div>
                <div class="col-1" style="height: 50px;"><button type="submit" class="btn btn-primary invisible">Eliminar</button></div>             
            </form>            
            {% endif %}
        {% endfor %}
        </div>
    </div>  

{% endblock content %}



