{% extends 'admin/theme/base_admin.html' %}
{% load static %}

{% block content %}
    <form method="POST" class="row" name="crear_usuario">

        {% csrf_token %}
        <div class="col-1 pt-2 mt-5 ps-2 pe-5">
            <a href="/menu_usuarios/" class="btn btn-primary">Volver</a>
        </div>
        <div class="col-5 pt-2 ps-5 pe-5">
            <label for="username" class="form-label mt-3">Nombre de Usuario</label><br>
            <input class="form-control" type="text" id="formFile" name="username" value="{{ username }}">
            <label for="contraseña" class="form-label mt-3">Contraseña</label><br>
            <input class="form-control" type="password" id="formFile" name="contraseña" value="{{ password }}">
            <label for="confirmar_contraseña" class="form-label mt-3">Confirmar Contraseña</label><br>
            <input class="form-control" type="password" id="formFile" name="confirmar_contraseña" value="{{ password2 }}">
        </div>
        <div class="col-5 pt-2 ps-5 pe-5">
            <label for="nombre" class="form-label mt-3">Nombre</label><br>
            <input class="form-control" type="text" id="formFile" name="nombre" value="{{ nombre }}">
            <label for="apellidos" class="form-label mt-3">Apellidos</label><br>
            <input class="form-control" type="text" id="formFile" name="apellidos" value="{{ apellidos }}">
            <label for="ci" class="form-label mt-3">Carnet de Identidad</label><br>
            <input class="form-control" type="text" id="formFile" name="ci" value="{{ ci }}" maxlength="11">
            <label for="input_client_image" class="form-label mt-3">Sexo</label><br>
            <select class="form-select" name="sexo" required>
              <option selected value="">-----</option>
              <option {% if sexo == 'masculino' %} selected {% endif %} value="masculino">Masculino</option>
              <option {% if sexo == 'femenino' %} selected {% endif %} value="femenino">Femenino</option>
              <option {% if sexo == 'otro' %} selected {% endif %} value="otro">Otro</option>
            </select>
            <label for="input_client_image" class="form-label mt-3">Institución</label><br>
            <select class="form-select" name="institucion" required>
              <option selected value="">-----</option>
              {% for institucion in institucion_list %}
                <option {% if institucion.id == institucion_id.id %} selected {% endif %} value="{{ institucion.id }}">{{ institucion.nombre }}</option>
              {% endfor %}
            </select>
            <label for="input_client_image" class="form-label mt-3">Departamento</label><br>
            <select class="form-select" name="departamento" required>
              <option selected value="">-----</option>
              {% for departamento in departamento_list %}
                <option {% if departamento.id == departamento_id.id %} selected {% endif %} value="{{ departamento.id }}">{{ departamento.nombre }}</option>
              {% endfor %}
            </select>
            <label for="input_client_image" class="form-label mt-3">Nivel Académico</label><br>
            <select class="form-select" name="nivel_academico" required>
              <option selected value="">-----</option>
              {% for nivel in nivel_list %}
                <option {% if nivel.id == nivel_id.id %} selected {% endif %} value="{{ nivel.id }}">{{ nivel.nivel_academico }}</option>
              {% endfor %}
            </select>
            <label for="input_client_image" class="form-label mt-3">Especialización</label><br>
            <select class="form-select" name="especializacion" required>
              <option selected value="">-----</option>
              {% for especializacion in especializacion_list %}
                <option {% if especializacion.id == especializacion_id.id %} selected {% endif %} value="{{ especializacion.id }}">{{ especializacion.especializacion }}</option>
              {% endfor %}
            </select>
            <div class="mt-3"><button type="submit" class="btn btn-primary">Crear</button></div>

        </div>

    </form>
{% endblock content %}

