<style>
    .line-clamp {
        overflow: hidden;
        display: -webkit-box;
        -webkit-line-clamp: 1;
        -webkit-box-orient: vertical;
    }

    .line-clamp2 {
        overflow: hidden;
        display: -webkit-box;
        -webkit-line-clamp: 2;
        -webkit-box-orient: vertical;
    }


    .formularios-invisibles{
        height: 1px;
        overflow: hidden;
        text-size-adjust: 1px;
    }
</style>


<div class="row">
    {% include 'header.html' %}
</div>
<div class="row">
    <div class="col-2">
        {% include 'sidebar.html' %}
    </div>


    <div class="col-10">
        <!-- Contenido dinámico inicio -->            
                <form method="POST" class="row">
                    {% csrf_token %}
                    <div class="col-5 pt-5 ps-5 pe-5">
                    {{ Usuario_Form.as_p }} 
                    </div>
                    <div class="col-5 pt-5 ps-5 pe-5">
                    {{ Trabajador_Form.as_p }}
                    </div>
                    <div class="row">
                        <div class="col-9"></div>
                        <div class="col-1 ps-5 pe-2"><button type="submit" class="btn btn-success">Guardar</button></div>
                        <div class="col-2"></div>
                    </div>
                    
                </form>
        <!-- Contenido dinámico fin -->
    </div>  
          



