{% extends 'admin/theme/base_admin.html' %}
{% load static %}

{% block content %}
    <div class="card mt-3">
        <div class="card-header">
            <h2>Trazas</h2>
        </div>
    </div>
    <div class="row mt-2">
        <table class="table table-striped table-hover">
            <tr>
                <th>IP</th>
                <th>Fecha y Hora</th>
                <th>Usuario</th>
                <th>Tabla</th>
                <th>Acción</th>
                <th>Recurso</th>
            </tr>
            {% for traza in trazas %}
            <tr>
                <td>{{ traza.remote_addr }}</td>
                <td>{{ traza.timestamp|date:"Y/m/d, h:i a" }}</td>
                <td>{{ traza.actor }}</td>
                <td>{{ traza.content_type.name }}</td>
                <td>
                    {% if traza.action == 0 %}
                          crear
                     {% elif traza.action == 1 %}
                          actualizar
                     {% else %}
                          borrar
                     {% endif %}
                </td>
                <th>{{ traza.object_repr }}</th>
            </tr>

            {% endfor %}
        </table>
    </div>
{% endblock content %}


