{% load static %}

{% if message %}
    <div class="alert alert-custom alert-notice alert-light-{{ class_alert }} fade show text-center" role="alert">
        <div class="alert-icon"><i class="flaticon-{{ class_alert }}"></i></div>
        <div class="alert-text">{{ message }}</div>
        <div class="alert-close">
            <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                <span aria-hidden="true"><i class="ki ki-close"></i></span>
            </button>
        </div>
    </div>
{% endif %}