{% load static %}

<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <div class="container">
    <a class="navbar-brand" href="/investigaciones/">Gestor de Proyectos CFA</a>
    <div class="align-content-end">
        <ul class="navbar-nav me-auto mb-2 mb-lg-0 align-content-end">
            <li class="nav-item">
              <a class="nav-link" href="/menu_usuarios/">Menú Usuarios</a>
            </li>
            <li class="nav-item dropdown me-5">
              <a class="nav-link dropdown-toggle" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                  {{ user }}
              </a>
              <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
                <li><a class="dropdown-item" href="{% url 'editar_usuario' user.id %}">Perfil</a></li>
                <li><hr class="dropdown-divider"></li>
                <li><a class="dropdown-item" href="/logout/">Salir</a></li>
              </ul>
            </li>
        </ul>
    </div>
  </div>
</nav>


<script src="{% static 'js/bootstrap.min.js' %}"></script>
<script src="{% static 'js/bootstrap.bundle.js' %}"></script>
<script src="{% static 'js/bootstrap.js' %}"></script>
<script src="{% static 'js/bootstrap.bundle.min.js' %}"></script>