
<main>
 
  
    <div class="d-flex flex-column flex-shrink-0 p-3 bg-light" style="width: 280px; min-height: 54rem;">
      <hr class='mt-0'>
        <p class="p-2">{{ descripcion }}</p>
        <h5 class="pt-4 pb-4 ps-2 pe-4">Participantes:</h5>
        {% for Trabajador in participantes %}
                <p class="fs-6 ps-2 pe-2">{{ Trabajador }}</p>    
        {% endfor %}
      <ul class="nav nav-pills flex-column mb-auto">

      </ul>
      <hr>
      <div class="dropdown">
        <a href="#" class="d-flex align-items-center link-dark text-decoration-none dropdown-toggle" id="dropdownUser2" data-bs-toggle="dropdown" aria-expanded="false">
          <strong>{{ user }}</strong>
        </a>
        <ul class="dropdown-menu text-small shadow" aria-labelledby="dropdownUser2">
          {% if perms.models.add_user and perms.models.add_trabajador %}
          <li><a class="dropdown-item" href="/menu_usuarios/">Ver Perfiles</a></li>
          {% endif %}
          <li><a class="dropdown-item" href="{% url 'perfil' user.id  %}">Perfil</a></li>
          <li><hr class="dropdown-divider"></li>
          <li><a class="dropdown-item" href="/logout/">Salir</a></li>
        </ul>
      </div>
    </div>

  
  
 
  </main>